<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error- RbxPlus</title>
    <link rel="stylesheet" href="/public/notfound.css">
</head>
<body>

<div id="containerx">
   <div id="notfoundsitetext">
     <h2 id="error4">WOOPS</h2>
     <p id="para4">This section doesn't exist</p>
     <button id="button404" onclick="window.location.href='/'">Go Back</button>
   </div>
   <div class="clouds">
    <img src="/public/image/nube1.png" id="nube1" class="nube" alt="nube">
    <img src="/public/image/nube2.png" id="nube2" class="nube" alt="nube">
    <img src="/public/image/nube2.png" id="nubeextra" class="nube" alt="nube">
    <img src="/public/image/nubegrande.png" id="nubegrande" class="nube" alt="nube">
    <img src="/public/image/nube3.png" id="nube3" class="nube" alt="nube">
</div>


</div>
  


</body>
</html>
